.main-heading {
  font-size: 36px;
  font-weight: bold;
  color: red;
}

.error {
  color: green;
}

.container {
  padding: 20px;
  border: solid 5px black;
}

[data-theme="light"] {
  background-color: white;
  color: black;
}

[data-theme="dark"] {
  background-color: darkgrey;
  color: white;
}

.post {
  padding: 20px;
  background-color: lightgray;
  max-width: 500px;
  border: 5px solid black;
  margin: 10px;
  border-radius: 10px;
}

.post-title,
.post-subtitle {
  margin-bottom: 12px;
}

.post-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.post-subtitle {
  font-size: 1.5rem;
  text-align: right;
  
}

.post-text {
  text-align: justify;
}